
<div class = index-container>
  <h1>Welcome to Outback</h1>
  <h2>Find a campsite near you</h2>
  <%= form_tag(listings_search_path) do %>
    Checkin: <%= date_field_tag :start_time %>
    Checkout: <%= date_field_tag :end_time %>
    Price Per Day: <%= number_field_tag :cost %>
    <%= submit_tag 'Search' %></a>  
  <% end %>
</div>

<h3>Campsites</h3>
<p>Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>



<% @listings.each do |listing| %>
  <% if listing.uploaded_images.attached? %>
    <a style="background: url(<%= listing.uploaded_images.first.service_url %>);background-size: contain;" href="<%= listing_path(listing.id) %>">
  <% else %>
    <a style="background: blue;" href="<%= listing_path(listing.id) %>">
  <% end %>
  <h4><%= listing.title %></h4>
  <span>Price: $<%= listing.cost %> p/night</span>
<%end%>

