<h1>This is landing page.</h1>

<h2>Listings</h2>
<ul>
    <% @listings.each do |listing| %>
    <li>
      <%= listing.title %>
      <%= link_to 'show', listing_path(listing.id) %>
      <% if can? :delete, listing%>
        <%= link_to 'delete', destroy_listing_path(listing.id), data: { confirm: 'Are you sure?' }%>
      <% end %> 
      <p> Booking Location: 
      <% listing.location%>
      </p>

      <p> Booking Status: 
        <% if listing.booked_status != true %>
          <%= "Available" %>
        <% else %>
          <%= "Not Available" %>
        <% end %>
      </p>
    </li>
    <% end %>
</ul>
<% if @user = current_user %>
  <h2>Create Listing</h2>
  <%= render "shared/form_create" %>
<% end %>