<h1>Welcome to Outback</h1>

<h2>Search for Backyard Campsite</h2>

<%= form_tag(listings_search_path) do %>
  Price Per Day: <%= number_field_tag :cost %>
  Checkin: <%= date_field_tag :start_time %>
  Checkout: <%= date_field_tag :end_time %>
  <%= submit_tag 'Search' %>
<% end %>


<h2>Listings</h2>
<ul>
    <% @listings.each do |listing| %>
    <li>
      <%= listing.title %>
      <%= link_to 'show', listing_path(listing.id) %>
      <% if can? :delete, listing%>
        <%= link_to 'delete', destroy_listing_path(listing.id), data: { confirm: 'Are you sure?' }%>
      <% end %>

      <p> Booking Location: 
      <% listing.location%>
      </p>

    </li>
    <% end %>
</ul>
