
<div class = index-container>
  <div class = index-content>
    <h1>Welcome to Outback</h1>
    <h2>Backyard campsites for affordable prices</h2>
  </div>
  <div class = index-search-container>
    <h3>Find your camping ground.</h3>
    <%= form_tag(listings_search_path) do %>
      <%= text_field_tag :location, nil, placeholder: "Location", :required => true%>
      <%= date_field_tag :start_time, nil, :required => true%>
      <%= date_field_tag :end_time, nil, :required => true %>
      <%= number_field_tag :cost, nil, placeholder: "Max Price", :required => true %>
      <%= submit_tag 'Search' %></a>  
    <% end %>
  </div>
 
</div> 
<div class = listings-container>
  <h3>Backyard Campsites</h3>
  <div class = listings-placeholder-container>
    <% @listings.each do |listing| %>
      <div class = listings-placeholder>
        <div class = listings-image-placeholder> 
          <% if listing.uploaded_images.attached? %>
            <%= link_to listing_path(listing.id) do %>
              <%= image_tag listing.uploaded_images.first.service_url, :class => "listing-style-image"%>
            <% end %>
          <% else %>
            <%= link_to listing_path(listing.id) do %>
              <%= image_tag 'https://images.unsplash.com/photo-1503542149301-75886cd3030c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80', :class => "listing-style-image" %>
            <% end %>
          <% end %>
        </div>
        <h5><%= listing.title %></h5>
        <p>$<%= listing.cost %> AUD per night</p>
        <% if listing.location != nil %>
          <p><%= listing.location_city %></p>
        <% end %>
      </div>
    <%end%>
  </div>
</div>
