
<div class = index-container>
  <div class = index-content>
    <h1>Welcome to Outback</h1>
    <h2>Backyard campsites for affordable prices</h2>
  </div>
  <div class = index-search-container>
    <h3>Find your camping ground.</h3>
    <%= form_tag(listings_search_path) do %>
      <%= text_field_tag :location, nil, placeholder: "Location"%>
      <%= date_field_tag :start_time%>
      <%= date_field_tag :end_time %>
      <%= number_field_tag :cost, nil, placeholder: "Max Price" %>
      <%= submit_tag 'Search' %></a>  
    <% end %>
  </div>
 
</div> 

<h3>Campsites</h3>
<p>Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>



<% @listings.each do |listing| %>
  <% if listing.uploaded_images.attached? %>
    <a style="background: url(<%= listing.uploaded_images.first.service_url %>);background-size: contain;" href="<%= listing_path(listing.id) %>">
  <% else %>
    <a style="background: blue;" href="<%= listing_path(listing.id) %>">
  <% end %>
  <h4><%= listing.title %></h4>
  <span>Price: $<%= listing.cost %> p/night</span>
<%end%>

