<section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Search Results</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

      <div class="row">
        <% @listings.each do |listing| %>
          <div class="col-md-3">
          <% if listing.uploaded_images.attached? %>
            <a class="portfolio-item" style="background: url(<%= listing.uploaded_images.first.service_url %>);background-size: contain;" href="<%= listing_path(listing.id) %>">
          <% else %>
            <a class="portfolio-item" style="background: url(https://images.unsplash.com/photo-1524684463181-5857e5b6f856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80); background-size:cover;" href="<%= listing_path(listing.id) %>">
          <% end %>
              <div class="details">
                <h4><%= listing.title %></h4>
                <span>Price: $<%= listing.cost %> p/night</span>
              </div>
            </a>
          </div>
          <%end%>
      </div>
    </div>
  </section>






<h1>Search Results</h1>

<h2>Filtered by price</h2>

<% @filtered_listings_cost.each do |listing| %>
  <% if listing != nil %>
    <li><%= listing.title %></li>
  <% end %>
<% end %>

<h2>Between <%=@start_time %> and <%= @end_time %></h2>


<h2>Available within dates</h2>

<% @bookings_available.each do |booking| %>
  <li><%= booking.title %> <%= link_to 'show', listing_path([booking.id]) %></li>
<% end %>

<h2> Unavailable within dates</h2>

<% @bookings_unavailable.each do |booking| %>
  <li><%= booking.title %> <%= link_to 'show', listing_path([booking.id]) %></li>
<% end %>

<p><%= @start_time %></p>
<p><%= @end_time %></p>