<h1>This is the listing show page.</h1>

<h2>Listing</h2>

<h3> <%= @listing.title %> </h3>

<%= link_to 'edit', edit_listing_path %>

<form action= <%= bookings_path %> method="POST" >
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="hidden" name="listing" value="<%=@listing.id%>"/>
  <input type="submit" value="Book" />
</form>