<h1>Your Listings</h1>
<ul>
<% if @user_listings.count != 0 %>
  <% @user_listings.each do |listing| %>
  <li>
    <%= listing.title %>
    <%= link_to 'Modify', update_listing_path(listing.id)%>
    <%= link_to 'delete', destroy_listing_path(listing.id), data: { confirm: 'Are you sure?' }%>
    <p> Booking Status: 
    <% if listing.booked_status != true %>
      <%= "Available" %>
    <% else %>
      <%= "Not Available" %>
    <% end %>
    </p>
  </li>
  <% end %>
<% else %>
  <p> No user listings right now!</p>
<% end %>
</ul>

<% if @user = current_user %>
  <h2>Create Listing</h2>
  <%= render "shared/form_create" %>
<% end %>