<h1>This is the listing show page.</h1>

<h2>Listing</h2>

<h3> <%= @listing.title %> </h3>
<h3> <%= @listing.location %> </h3>
<h3> <%= @listing.description %> </h3>


<% if @listing.bathroom_availability? == true %>
 <h3> Bathroom Facilities are available </h3>
<% else %>
  <h3> Bathroom Facilities are not available </h3>
<% end %>

<% if @listing.laundry_availability? == true %>
 <h3> Laundry Facilities are available </h3>
<% else %>
  <h3> Laundry Facilities are not available </h3>
<% end %>

<% if @listing.electricity_availability? == true %>
 <h3> Electricity is available </h3>
<% else %>
<h3> Electricity is not available </h3>
<% end %>

<h3> Price: $ <%= @listing.cost %> per night</h3>


<% if @listing.uploaded_images.attached? == true %>
  <% @listing.uploaded_images.each do |image| %>
   <%=image_tag image.service_url, class: 'image-size'%>
  <% end %>
<% else %>
  <p>No image for this listing.</p>
<% end %>


<% if can? :edit, @listing %>
  <%= link_to 'Modify Listing', update_listing_path%>
<% end %>

<%= month_calendar events: @bookings do |date, bookings| %>
  <%= date %>
  <% bookings.each do |booking| %>
    <div>
      <%= "Booked" %>
    </div>
  <% end %>
<% end %>


<% if current_user != nil%>
  <h1> Book Now</h1>
  <form action="<%= create_booking_path %>" method="POST">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
    <input type="hidden" name="listing" value="<%=@listing.id%>"/>
    <label>Start Date</label>
    <input type="date" name='start_time' />
    <label>End Date</label>
    <input type="date" name='end_time'/>
    <input type="submit" value="Book" />
  </form>
<% else %>
  <p>This campsite is currently unavailable.</p>
<% end %>
  <p> Login to Book - <%= link_to 'Login', new_user_session_path %></p>
