<div class = show-container>
  <div class = show-images-container>
    <% if @listing.uploaded_images.attached? == true %>
      <% @listing.uploaded_images.each do |image| %>
        <%=image_tag image.service_url, class: 'show-images-style'%>
      <% end %>
    <button class = 'btn-left', onclick="plusDivs(-1)">&#10094;</button>
    <button class = 'btn-right', onclick="plusDivs(1)">&#10095;</button>
    <% else %>
      <%= image_tag 'https://images.unsplash.com/photo-1503542149301-75886cd3030c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80', :class => "show-images-style" %>
      <button class = 'btn-left', onclick="plusDivs(-1)">&#10094;</button>
      <button class = 'btn-right', onclick="plusDivs(1)">&#10095;</button>
    <% end %>
  </div>

  <div class = show-body-container>
    <div class = show-booking-info-container>
      <div class = show-booking-info-header>
        <h1> <%= @listing.title %> </h1>
        <h3> <%= @listing.location_city %> </h3>
        <% if can? :edit, @listing %>
          <%= link_to 'Modify Listing', update_listing_path%>
        <% end %>
      </div>
      <div class = show-booking-info-description><b>Description</b><%= @listing.description %></div>
      
      <b>Amenities</b>
      <div class = show-booking-info-amenities>
        <% if @listing.bathroom_availability? == true %>
        <li> Bathroom facilities are available </li>  
        <% else %>
          <li> Bathroom facilities are not available </li>
        <% end %>     
        <% if @listing.laundry_availability? == true %>
          <li> Laundry facilities are available </li>
        <% else %>
          <li> Laundry facilities are not available </li>
        <% end %>    
        <% if @listing.electricity_availability? == true %>
          <li> Electricity is available </li>
        <% else %>
          <li> Electricity is not available </li>
        <% end %>
      </div>
    
      <b>Availability</b>
      <%= month_calendar events: @bookings do |date, bookings| %>
        <%= date.to_formatted_s(:short) %>
        <% bookings.each do |booking| %>
          <div>
            <%= "Booked" %>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <div class = show-book-form-container>
      <% if current_user != nil%>
        <% if @user.listings.include?@listing %>
          <div class =  show-book-form-message> 
            <h3>This is your listing.</h3>
            <%= link_to 'Modify Listing', update_listing_path%>
            <%= link_to 'Delete Listing', destroy_listing_path%>
          </div>
        <% else %>
          <div class = show-book-form>
            <% if current_user != nil%>
            <div class = show-book-form-price><h5>$<%=@listing.cost %> per night</h5></div> 
              <%= form_tag(booking_check_path) do %>
                <%= hidden_field_tag :listing_id, @listing.id%>
                <p>Checkin</p>
                <%= date_field_tag :start_time, nil, :required => true %>
                <p>Checkout</p>
                <%= date_field_tag :end_time, nil, :required => true %>
                <p>Guests</p>
                <%= number_field_tag :guests, nil, :required => true %>
                <%= submit_tag 'Book' %>
              <% end %>
            <% end %>
          </div>
        <%end%>
      <%else %>
        <p> Login to Book - <%= link_to 'Login', new_user_session_path %></p>
      <%end%>
    </div>
  </div>
</div>

<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("show-images-style");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    x[slideIndex-1].style.display = "block";  
  }
</script>