  <nav class = "navbar-container">
    <div class = 'navbar-image-container' onclick = "location.href='/';"></div>
    <div class = 'navbar-menu-container'>
      <%=link_to 'Home', root_path%>
        <% if user_signed_in? %>
          <%= link_to 'My Bookings', show_user_bookings_path %>
          <div class = 'dropdown'>
            <button class = "dropbtn"><%= link_to 'My Listings', show_user_listings_path %></button>
            <div class = 'dropdown-content'>
              <%= link_to 'Listings', show_user_listings_path %>
              <%= link_to 'New Listing', create_listing_page_path %>
            </div>
          </div>
          
          <div class="dropdown">
            <button class="dropbtn">Profile</button>
            <div class="dropdown-content">
              <%= link_to 'Edit User', edit_user_registration_path %>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Log In', new_user_session_path %>
          <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
        <a href="#">Contact Us</a>
    </div>
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
  </nav>


