<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<%= form_tag(listings_search_path) do %>
  <div class="grey-text font-weight-light">Price Per Day: <%= number_field_tag :cost %></div>
  <div class="grey-text font-weight-light">Checkin: <%= date_field_tag :start_time %></div>
  <div class="grey-text font-weight-light">Checkout: <%= date_field_tag :end_time %></div>
  
  <%= submit_tag 'Search' %>
<% end %>